*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    
}
#navbar{
    height: 60px;
    background-color: black; 
}
button {
    background-color: brown;
    color: aqua;


}
a{
    margin-right: 50px; 
    padding: 10px;
    text-decoration: none;
}
#Welcome{
    
    text-align: center;
    background-color: red;
    ;
}
img{
    width: 100px;
    height: 100px;
    align-items: center;

}

    
}